.header {
    display: flex;
    flex: 1;
    background-color: black;
    height: 80px;
    gap: 8px;
    padding: 8px;
    align-items: center;
}

.header .left {
    height: 50px;

}

.header .right {
    height: 50px;
}

.title {
    text-align: center;
    flex: 1;
    color: white;
    margin: 0px 100px;
}

@media (max-width: 500px) {
    .flex-content {
        flex-direction: column;
    }
}

.flex-content {
    display: flex;
    border: 10px solid black;
    gap: 8px;
    padding: 8px;
    justify-content: space-between;
}

.flex-content li {
    flex: 1 1 auto;
    list-style: none;
    text-align: center;
    height: 100px;
    background-color: blanchedalmond;
}